div{
    background-color:pink;
    height:100px;
    width:100px;
    animation-name:animation;
    animation-duration:2s;
    animation-delay:2s;
    animation-timing-function:linear;
}






@keyframes animation{
    0%{
        background-color:green;
    }
    50%{
        background-color:red;
    }
    100%{
        background-color:blue;
    }

}
#divone{
    background-color:red;
    height:100px;
    width:100px;
    animaion-name:


}
 
@keyframes divoneanimation{
    0%{
     background-color:blue;
    }
    50%{
        background-color:red;
    }
    100%{
        background-color:green;
    }

    }



}